rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /profilePhotos/{fileName} {
      allow read: if request.auth != null;
      allow write: if request.auth != null
                   && fileName.matches(request.auth.uid + '[.]jpg');
    }
  }
}
