<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDstGGHlrKOPvR6ofgZmVPek2G-1c0UkMc</string>
	<key>GCM_SENDER_ID</key>
	<string>499626050396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.golfbuddy.app</string>
	<key>PROJECT_ID</key>
	<string>golfbuddy-23e2b</string>
	<key>STORAGE_BUCKET</key>
	<string>golfbuddy-23e2b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499626050396:ios:fb34239f432a40204a3799</string>
</dict>
</plist>